<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<center>
<table>
	<tr>
		<td><b>FreshBus</b></td>
	</tr>
	<tr>
		<td>First Floor,</td>
	</tr> 
	<tr>
		<td>Block B, SP Infocity,</td>
	</tr> 
	<tr>
		<td>40 MGR Salai,</td>
	</tr> 
	<tr>
		<td>Perungudi,</td>
	</tr> 
	<tr>
		<td>Chennai,</td>
	</tr> 
	<tr>
		<td>Tamil Nadu 600096</td>
	</tr>
	<tr>
		<td>Phone:+1 866-832-3090</td>
	</tr>
</table>

</center>
