<% if logged_in? %>
	redirect_to "/routes/new"
<%   else %>
   <div class="center jumbotron"\>
  <h1>Welcome to FreshBus Service</h1>
  <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", 'login', class: "btn btn-lg btn-primary" %>
</div>
<% end %>

