<center><h3> Enter the places to Add </h3>



<%= form_for(@place) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

 <%= f.submit "Add Places", class: "btn btn-primary" %>
 <% end %>

</center>